
.video-responsive iframe {
  left: 38%;
  height: 50%;
  width: 55%;
  position:absolute;
}


.video-responsive2 iframe{
  left: 38%;
  top: 37%;
  height: 55%;
  width: 55%;
  position:absolute;
}


@media screen and (min-width: 1440px) {
    
.video-responsive iframe {
  left: 38%;
  height: 38%;
  width: 55%;
 
  
}


.video-responsive2 iframe{
  left: 38%;
  top: 25%;
  height: 38%;
  width: 55%;
 
}
}