.containerHome {
    width: 100vw;
    height: 100vh;
    background-image: url(../../public/moon.png);
    background-size:cover;
    overflow: hidden;
    -webkit-animation: backgroundScroll 25s linear infinite;
    animation: backgroundScroll 25s linear infinite;
}

@-webkit-keyframes backgroundScroll {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -800px 0;
    }
}

@keyframes backgroundScroll {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -800px 0;
    }
}

.containerHome h1 {
    color: white;
    font-family: 'VT323', monospace;
    font-weight: normal;
    font-size: 52px;
    position: absolute;
    display: flex;
    margin-left: 5%;
    align-items: center;
    margin-top: -2%;
    letter-spacing: 1px;
    text-decoration: none;

}

.containerHome ul {
    height: 10%;
    width: 5%;
    color: white;
    font-family: 'VT323', monospace;
    font-size: 30px;
    font-weight: normal;
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-left: 4%;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 6%;
    list-style-type: none;
    text-decoration: none;
}



.containerHome li {
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    letter-spacing: 1px;
    font-size: 45px;
    margin-top: -85%;
    margin-bottom: -5%;
    margin-left: -10%;
    
}

.containerHome p {
    color: white;
    margin-left:26%;
    margin-top: 25%;
    margin-bottom: -30%;
    text-align: center;
    text-decoration: none;
    letter-spacing: 1px;
}

.containerHome img {
    width: 30%;
    height: 50%;
    margin-left: 65%;
    margin-top: -11%;
    cursor: pointer;
}
.home {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid white;
    padding:1%;
    margin-top: 1.7%;
    margin-bottom: 5%;
    margin-left:40%;
    width: 50%;
    height: 330px;
    background-color:hsla(157, 50%, 25%, 0.329);
}

.home h2{
    color: white;
    font-family: 'VT323', monospace;
    font-weight: normal;
    font-size: 30px;
    margin-left: 1%;
}

.home p{
  margin-top: 2%;
  margin-bottom: 5%;
  margin-left: 2%;
  margin-right: 2%;
    color: white;
    font-family: 'VT323', monospace;
    font-size: 25px;
}
.astronaut_home{
    cursor: pointer;
}