.containerLand {
    width: 100vw;
    height: 100vh;
    background-color: black;
    overflow: hidden;
    background-image: url(../../public/moon2.png);
    background-size:cover;
   background-repeat: no-repeat;
    -webkit-animation: backgroundScroll 45s linear infinite;
animation: backgroundScroll 45s linear infinite;
}

@-webkit-keyframes backgroundScroll {
from {background-position: 0 0;}
to {background-position: -10000px -1000px;}
}
        
@keyframes backgroundScroll {
from {background-position: 0 0;}
to {background-position: -10000px -1000px;}
}
 





.containerLand li {
  color: white;
    margin-left: 7%;
    margin-top: -50%;
    margin-bottom:-10%;
    text-decoration:none;
    letter-spacing: 1px;
    align-items: start;
   
  
}   


.astronauta {
   
    animation: bounce 2s infinite alternate;
    -webkit-animation: bounce 2s infinite alternate;
  }
  @keyframes bounce {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-15px);
    }
  }
  @-webkit-keyframes bounce {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-15px);
    }
  }
  
 #animated-example{
     margin-top:10%;
     margin-left:35%;
     width:30%;
     height:60%;
 }