.containerLand {
    width: 100vw;
    height: 100vh;
    background-color: black;
    overflow: hidden;
    background-image: url(../../public/moon2.png);
    background-size:cover;
   background-repeat: no-repeat;
    -webkit-animation: backgroundScroll 45s linear infinite;
animation: backgroundScroll 45s linear infinite;
}

@-webkit-keyframes backgroundScroll {
from {background-position: 0 0;}
to {background-position: -10000px -1000px;}
}
        
@keyframes backgroundScroll {
from {background-position: 0 0;}
to {background-position: -10000px -1000px;}
}
 
.containerLand li {
  color: white;
    margin-left: 7%;
    margin-top: -50%;
    margin-bottom:-10%;
    text-decoration:none;
    letter-spacing: 1px;
    align-items: start;
   
  
}   
.astronauta:hover{
  animation: bounce 0.5s infinite alternate;
  box-shadow: 5px 12px 15px rgb(159, 160, 167);
}

.astronauta {
border-radius: 50%;
  animation: bounce 2s infinite alternate;
  
  }
  @keyframes bounce {
    from {
      transform: translateY(-15px);
    }
    to {
      transform: translateY(-35px);
    }
  }
  

 #animated-example{
     margin-top:7%;
     margin-left:37%;
     width:30%;
     height:60%;
     cursor: pointer;
     border-radius: 100%;
   
 }