.containerContact {
    height: 100vh;
    width: 100vw;
    background-color: black;
    overflow-x: hidden;
    background-image: url(../../public/moon.png);
    background-size: 100%;
    -webkit-animation: backgroundScroll 25s linear infinite;
    animation: backgroundScroll 25s linear infinite;
}

@-webkit-keyframes backgroundScroll {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -800px 0;
    }
}

@keyframes backgroundScroll {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -800px 0;
    }
}

.containerContact ul {
    height: 10%;
    width: 5%;
    color: white;
    font-family: 'VT323', monospace;
    font-size: 30px;
    font-weight: normal;
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-left: 3.9%;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 6%;
    list-style-type: none;
    text-decoration: none;
}

.containerContact p {
    color: white;
    margin-left: 30%;
    margin-top: 1%;
    text-align: center;
    font-family: 'VT323', monospace;
    font-size: 50px;
    font-weight: normal;
}

.containerContact h1 {
    color: white;
    font-family: 'VT323', monospace;
    font-weight: normal;
    font-size: 52px;
    position: absolute;
    display: flex;
    margin-left: 5%;
    align-items: center;
    margin-top: -2%;
    letter-spacing: 1px;
    text-decoration: none;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 3%;
    align-items: center;
    margin-left: 45%;
    border: 5px solid white;
    width: 30%;
    height: 65%;
    background-color: hsla(157, 50%, 25%, 0.329);
}

.contact img {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -30%;
    margin-left: 10%;
    width: 65%;
    height: 130%;
}

.contact a {
    font-family: 'VT323', monospace;
    font-size: 30px;
    font-weight: normal;
    color: white;
    text-decoration: none;
    padding: 1%;
    height: 10%;
    margin-left: 3%;
}
.contact a:hover {
    animation: bounce 1s infinite alternate;
}

@keyframes bounce {
  from {
    transform: translateY(-5px);
  }
  to {
    transform: translateY(-15px);
  }
}
@media screen and (min-width:1400px) {
    .containerContact {
        background-image: url(../../public/moon2.png);
        background-size: 550%;
        background-repeat: no-repeat;
    }
    .contact {
        margin-left: 40%;
        margin-top:5%;
        width: 40%;
    }
    .contact img {
     width: 100%;
    }
    .contact a {
        font-size: 35px;
    } 
 }