.containerProyects {
   
    height: 180%;
   overflow-x: hidden;
    background-image: url(../../public/moon2.png);
    background-size:cover;
   background-repeat: no-repeat;
    -webkit-animation: backgroundScroll 25s linear infinite;
    animation: backgroundScroll 25s linear infinite;
}

@-webkit-keyframes backgroundScroll {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -800px 0;
    }
}

@keyframes backgroundScroll {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -800px 0;
    }
} 

html::-webkit-scrollbar {
    width: 28px;
    background-color: #0d111b;
    border: 5px solid rgb(255, 255, 255);
    overflow: hidden;
    
  }

html::-webkit-scrollbar-track {
    background-color:#0d111b;
    border: 5px solid hsla(150, 2%, 79%, 0);
  }
  
 
  
  html::-webkit-scrollbar-thumb {
     border: 2px solid rgb(255, 255, 255);
    padding:1px rgb(0, 0, 0);
    background-color: hsla(157, 50%, 25%, 0.329);

  }




.containerProyects h1 {
    color: white;
    position:fixed;
    font-family: 'VT323', monospace;
    font-weight: normal;
    font-size: 52px;
    display: flex;
    margin-left: 5%;
    align-items: center;
    margin-top: 2%;
    letter-spacing: 1px;
    text-decoration: none;
}
.containerProyects h2 {
    margin-left: 0%;
    color: white;
    font-family: 'VT323', monospace;
    font-weight: normal;
    font-size: 2rem;
}
.containerProyects ul {
    position:fixed;
    height: 10%;
    width: 5%;
    color: white;
    font-family: 'VT323', monospace;
    font-size: 30px;
    font-weight: normal;
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-left: 3.9%;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 6%;
    list-style-type: none;
    text-decoration: none;
}

.containerProyects li {
    position:fixed;
    color: white;
    text-align: center;
    text-decoration: none;
    letter-spacing: 1px;
}

.containerProyects p {
   position:fixed;
    color: white;
    margin-left: 1.7%;
    margin-top: 2%;
    text-align: center;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 45px;
}

.containerProyects img{
    width: 25%;
    height: 60%;
    margin-left: 70%;
    margin-top: -12%;
    margin-bottom:-14%;
    
}

.proyectsOne{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 4px solid white;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 35%;
    width: 60%;
    height: 500px;
    background-color:hsla(157, 50%, 25%, 0.329);
    
}
.proyectsOne h3{
    margin-top: -2%;
     color: white;
     font-family: 'VT323', monospace;
     font-weight: normal;
     font-size: 2rem;
     letter-spacing: 0.5px;
 }
 .proyectsOne a{
     color:white;
 }

.proyectsTwo{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 4px solid white;
    margin-top: 5%;
    margin-bottom: 3%;
    margin-left: 35%;
    width: 60%;
    height: 500px;
    background-color:hsla(157, 50%, 25%, 0.329);
    
}

.proyectsTwo h3{
   margin-top: -2%;
    color: white;
    font-family: 'VT323', monospace;
    font-weight: normal;
    font-size: 2rem;
    letter-spacing: 0.5px;
}
.proyectsTwo a{
    color:white;
}
.modalStyle{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width:100%;
    font-family: 'VT323', monospace;
    font-weight: normal;
    font-size: 2rem;
    letter-spacing: 0.5px;
    color:rgb(255, 255, 255);
    text-align: -webkit-center;
}

.modalStyle div{
    top:5%;
    left:10%;
   border: 3px solid rgb(255, 255, 255);
    height: 90%;
    width:40%;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    padding-inline: 5%;
    background-color:hsl(0, 0%, 0%);
    text-justify:newspaper;
}
.modalStyle p:first-child{
 margin-top:2%;
 cursor: pointer;

}
.modalStyle a{
    text-decoration: none;
    color: cadetblue;
}